---
title: 'About'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'about/'
eleventyNavigation:
    key: About Us
    order: 200
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/about.css">
{% endblock %}

{% block body %}
    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">About Us</h1>
        <picture class="cs-picture">
            <source media="(max-width: 600px)" srcset="//assets/images/mowing1.jpg">
            <source media="(min-width: 601px)" srcset="/assets/images/mowing1.jpg">
            <img aria-hidden="true" decoding="async" src="/assets/images/mowing1.jpg" alt="mower&grass" width="2500" height="1667" loading="eager">
        </picture>

    </section>

    <!-- ============================================ -->
    <!--                 Side By Side                 -->
    <!-- ============================================ -->

    <section id="sbs">
        <div class="cs-container">
            <!-- Left Image Section -->
            <div class="cs-left">
                <picture class="cs-picture cs-picture1">
                    <source media="(max-width: 600px)" srcset="/assets/images/lawn1.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/lawn1.jpg">
                    <img aria-hidden="true" decoding="async" src="/assets/images/lawn1.jpg" alt="cabinets" loading="lazy" width="400" height="563">
                </picture>
                <picture class="cs-picture cs-picture2">
                    <source media="(max-width: 600px)" srcset="/assets/images/mowing1.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/mowing1.jpg">
                    <img aria-hidden="true" decoding="async" src="/assets/images/mowing1.jpg" alt="house" loading="lazy" width="400" height="563">
                </picture>
            </div>
            <!-- Right Content Section-->
            <div class="cs-right">
                <span class="cs-topper">About Us</span>
                <h2 class="cs-title">About McGovern Mowing</h2>
                <p class="cs-text">
                    At McGovern Mowing, we take pride in transforming ordinary lawns into meticulously manicured outdoor spaces that speak volumes about your property. Established with a passion for precision and an eye for detail, our mowing company is dedicated to elevating the aesthetics of your landscape. With years of experience, our team of skilled professionals is committed to providing top-notch mowing services tailored to meet the unique needs of each client.
                </p>
                
                <div class="cs-flex-group">
                    <p class="cs-flex-p">
                        "You like your lawn cut. I like money. Win-win."
                    </p>
                    <span class="cs-name">Joshua Felty</span>
                    <span class="cs-job">Co-Founder</span>
                    <img class="cs-quote-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/quote-white.svg" alt="gavel" width="136" height="77">
                </div>
                <a href="/projects" class="cs-button-solid">Our Projects</a>
            </div>
        </div>
    </section>

    {% include 'components/cta.html' %}

{% endblock %}